<% products.forEach(function(pd){ %>
<!-- <c:forEach var="pd" items="${pagedListHolder.pageList}"> -->
  <div class="item w-1/4 px-3 mb-4 flex flex-col justify-between">
    <div>
      <div class="relative item-menu-container overflow-hidden">
        <a href="<%=pagesPath.productPagePath%>/<%=pd.id%>" class="block overflow-hidden"> 
             <img src="<%=pagesPath.apiImagePath%>/<%=pd.id%>/<%=pd.images[0].path%>" alt="<%=pd.id%>" class="transform hover:scale-110 transition-all" />
        </a>

        <div class="flex justify-center bg-indigo-300 items-center py-1 absolute item__menu w-full">
          <!-- <a href="<%#=pagesPath.favoriteProductsPagePath%>/<%#=pd.id%>/allseperatorquestionmarkp=<%#=pagedListHolder.page%>"> -->
          <a href="<%=pagesPath.favoriteProductsPagePath%>/<%=pd.id%>">  
            <%- include('./favorite-product') -%>
            <!-- <i
										class="fa text-2xl fa-heart text-white hover:text-indigo-500 transition-colors"></i> -->
          </a>
          <div class="border-l-2 border-white h-7 mx-2"></div>
          <% if (pd.quantity != 0) { %>
            <a href="<%=pagesPath.cartPagePath%>/<%=pd.id%>">
              <i class="fa text-2xl fa-cart-plus text-white hover:text-indigo-200 transition-colors"></i>
            </a>
          <% } %>
        </div>
      </div>
      <a href="<%=pagesPath.productPagePath%>/<%=pd.id%>" class="item__name block hover:text-indigo-400 transition-colors font-bold my-2">
        <%=pd.name%>
      </a>
    </div>
    <div>
      <span class="item__price font-bold">
        <!-- <fmt:setLocale value="vi_VN" scope="session" />
        <fmt:formatNumber value="${pd.price}" type="currency" /> -->
        <%= Money(pd.price) %> 
      </span>
      <% if(pd.quantity <= 0) { %> 
        <span class="p-1 ml-1 bg-gray-500 text-white">Hết hàng</span>
      <% } %>
    </div>
  </div>
<% }); %> 
<!-- </c:forEach> -->
