<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./include/store-head') -%>

<%- include('./include/store-styles') -%>
</head>

<body>
	<%- include('./include/store-header') -%>
	<main class="main">
		<div class="main__new-product section px-32 my-6">
			<div class="section__heading mb-8">
				<div class="product-navigation font-bold mb-5">
					<h3 class="text-indigo-500 font-bold text-xl ">TẤT CẢ SẢN PHẨM</h3>
					
				</div>
				<hr class="border-none bg-indigo-500" style="height: 1px;">
			</div>
			<div class="new-product__list flex flex-wrap">
				<!-- <jsp:useBean id="pagedListHolder" scope="request"
					type="org.springframework.beans.support.PagedListHolder" />
				<c:url
					value="store/all/"
					var="pagedLink">
					<c:param name="p" value="~" />
				</c:url> -->

				<!-- <c:forEach var="p" items="${list}"> -->
				<%- include('./include/product-list') -%>

			</div>
			<div>
				<%- include('./include/pagination') -%>
				<!-- <tg:paging pagedListHolder="${pagedListHolder}"
					pagedLink="${pagedLink}" /> -->
			</div>
		</div>
	</main>
	<%- include('./include/store-footer') -%>
</body>
<%- include('./include/store-script') -%>
</html>