<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <!-- <title>Lịch sử mua hàng</title> -->
    <%- include('./include/store-head'); -%>

    <%- include('./include/store-styles'); -%>
    
    <link type="text/css" href="/styles/store/order-history" rel="stylesheet" />
  </head>

  <body>
    <%- include('./include/store-header'); -%>
    <main class="main">
      <div class="main__new-product px-32 mb-12 mt-6">
        <div class="mb-5 font-bold text-xl">
          <a href="<%=pagesPath.userPagePath%>" class="hover:text-indigo-500 transition-colors">Hồ sơ cá nhân</a>
          > <span class="text-indigo-500">Lịch sử mua hàng</span>
        </div>
        <div class="flex justify-between info-wrapper">
          
          <%- include('./include/account-sidebar'); -%>

          <div class="sign-up-form-container border-2 border-gray-200 flex-1">
            <div class="my-3 px-4 font-bold">ĐƠN HÀNG ĐÃ MUA</div>
            <div class="px-4">
              <hr class="" />
            </div>
            <div class="px-4 ordered-list">
              <% if (orders.length == 0) { %>
              <p>Bạn chưa có đơn hàng nào.</p>
              <p class="mb-2"><a href="<%=pagesPath.indexPagePath%>" class="inline-block font-bold text-indigo-500 hover:text-indigo-300 transition-colors">Quay lại trang chủ</a> để mua sắm.</p>
              <% } %>
              <!-- <table class="cart-list__table mb-4">
							<thead>
								<tr class="card-list__table-header font-bold">
									<th>Tên</th>
									<th>Số lượng</th>
									<th>Thành tiền</th>
								</tr>
							</thead>
							<c:forEach var="order" items="${listOrder}" varStatus="loop">
								<p class="">${loop.index+1}.</p>
								<tbody>
									<c:forEach var="c" items="${order.orderDetails}">
										<tr class="card-list__table-item">
											<td class="card-list__table-desc"
												style="text-align: left !important;"><a
												href="${applicationScope.productDetailPage}/${c.product.id}"
												class="hover:text-indigo-500">${c.product.name}</a> <br>
												<div class="cart-list__price">
													Đơn giá: <span class="font-bold"><fmt:setLocale
															value="vi_VN" scope="session" /> <fmt:formatNumber
															value="${c.product.price}" type="currency" /></span>
												</div></td>
											<td class="cart-list__quantity">${c.quantity}</td>
											<td class="card-list__total font-bold"><fmt:setLocale
													value="vi_VN" scope="session" /> <fmt:formatNumber
													value="${c.quantity*c.product.price}" type="currency" /></td>
										</tr>
									</c:forEach>
								</tbody>

								<div class="w-full flex justify-between border-t my-1 py-2">
									<span class="">Tổng cộng</span> <span class="font-bold"><fmt:setLocale
											value="vi_VN" scope="session" /> <fmt:formatNumber
											value="${order.orderTotal}" type="currency" /></span>
								</div>
								<div class="w-full border-b border-black"></div>
							</c:forEach>
						</table> -->
              <div class="order-row flex justify-between">
                <div class="order-cell flex-1 p-2 border font-bold">Sản phẩm</div>
                <div class="order-cell w-1/6 p-2 border text-center align-middle font-bold">Số lượng</div>
                <div class="order-cell w-1/5 p-2 border text-center align-middle font-bold">Thành tiền</div>
              </div>

              <% orders.forEach((order, index) => { %>
              <p class="p-2 text-indigo-500 font-bold"><%=index+1%>.</p>

              <% order.orderDetails.forEach((c, index) => { %>
              <div class="order-row flex">
                <div class="order-cell flex-1 p-2 border">
                  <a href="${applicationScope.productDetailPage}/${c.product.id}" class="hover:text-indigo-500">
                    <%=c.product.name%>
                  </a>
                  <br />
                  <div class="cart-list__price text-sm">
                    Đơn giá:
                    <span class="font-bold">
                      <!-- <fmt:setLocale
															value="vi_VN" scope="session" /> 
															<fmt:formatNumber
															value="${c.product.price}" type="currency" /> -->
                      <%= Money(c.product.price) %>
                    </span>
                  </div>
                </div>
                <div class="order-cell w-1/6 p-2 border text-center align-middle">
                  <%=c.quantity%>
                </div>
                <div class="order-cell w-1/5 p-2 border text-center align-middle">
                  <!-- <fmt:setLocale
													value="vi_VN" scope="session" /> 
													<fmt:formatNumber
													value="${c.quantity*c.product.price}" type="currency" /> -->
                  <%= Money(c.quantity * c.product.price) %>
                </div>
              </div>
              <% }) %>

              <div class="w-full flex justify-between my-1 p-2">
                <span class="">Tổng cộng:</span
                ><span class="font-bold">
                  <!-- <fmt:setLocale
										value="vi_VN" scope="session" />
										<fmt:formatNumber
										value="${order.totalPrice}" type="currency" /> -->
                  <%= Money(order.totalPrice) %>
                </span>
              </div>
              <div class="w-full border-b border-black"></div>
              <% }) %>

              <!-- <c:forEach var="order" items="${listOrder}" varStatus="loop">
							<p class="p-2 text-indigo-500 font-bold">${loop.index+1}.</p>
							
								<c:forEach var="c" items="${order.orderDetails}">
								<div class="order-row flex">
									<div class="order-cell flex-1 p-2 border"><a
												href="${applicationScope.productDetailPage}/${c.product.id}"
												class="hover:text-indigo-500">${c.product.name}</a><br>
												<div class="cart-list__price text-sm">
													Đơn giá: <span class="font-bold"><fmt:setLocale
															value="vi_VN" scope="session" /> <fmt:formatNumber
															value="${c.product.price}" type="currency" /></span>
												</div></div>
									<div class="order-cell w-1/6 p-2 border text-center align-middle">${c.quantity}</div>
									<div class="order-cell w-1/5 p-2 border text-center align-middle"><fmt:setLocale
													value="vi_VN" scope="session" /> <fmt:formatNumber
													value="${c.quantity*c.product.price}" type="currency" /></div>
								</div>
								</c:forEach>
							
							<div class="w-full flex justify-between my-1 p-2">
									<span class="">Tổng cộng:</span><span class="font-bold"><fmt:setLocale
											value="vi_VN" scope="session" /><fmt:formatNumber
											value="${order.totalPrice}" type="currency" /></span>
								</div>
								<div class="w-full border-b border-black"></div>
						</c:forEach> -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./include/store-footer') -%>
  </body>

  <%- include('./include/store-script') -%>
  <script type="text/javascript">
    var a = document.getElementsByClassName("error");
    for (var i = 0; i < a.length; i++) {
      a[i].addEventListener("click", function (e) {
        e.target.style.display = "none";
      });
    }
  </script>
</html>
